<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aniDB.aniDB_backend.mapper.AlternativePublisherNameMapper">
    <resultMap id="AlternativePublisherNameResultMap" type="com.aniDB.aniDB_backend.entity.AlternativePublisherName">
        <id column="alternative_publisher_id" property="alternativePublisherId" />
        <id column="original_publisher_id" property="originalPublisherId" />
        <result column="alternative_name" property="alternativeName" />
    </resultMap>

    <select id="getByAlternativePublisherId" resultMap="AlternativePublisherNameResultMap">
        SELECT * FROM alternative_publisher_name WHERE alternative_publisher_id = #{alternativePublisherId}
    </select>

    <select id="getByOriginalPublisherId" resultMap="AlternativePublisherNameResultMap">
        SELECT * FROM alternative_publisher_name WHERE original_publisher_id = #{originalPublisherId}
    </select>

    <insert id="insert" parameterType="com.aniDB.aniDB_backend.entity.AlternativePublisherName"
            useGeneratedKeys="true" keyProperty="alternativePublisherId" keyColumn="alternative_publisher_id">
        INSERT INTO alternative_publisher_name (original_publisher_id, alternative_name)
        VALUES (#{originalPublisherId}, #{alternativeName})
    </insert>

    <update id="update" parameterType="com.aniDB.aniDB_backend.entity.AlternativePublisherName">
        UPDATE alternative_publisher_name
        SET alternative_name = #{alternativeName}
        WHERE alternative_publisher_id = #{alternativePublisherId}
    </update>

    <delete id="delete">
        DELETE FROM alternative_publisher_name WHERE alternative_publisher_id = #{alternativePublisherId}
    </delete>
</mapper>