<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aniDB.aniDB_backend.mapper.UpvotedArticleMapper">
    <resultMap id="UpvotedArticleResultMap" type="com.aniDB.aniDB_backend.entity.UpvotedArticle">
        <id property="memberId" column="member_id" />
        <id property="articleId" column="article_id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="selectUpvotedArticleById" parameterType="map" resultMap="UpvotedArticleResultMap">
        SELECT * FROM upvoted_article WHERE member_id = #{memberId} AND article_id = #{articleId}
    </select>

    <insert id="insertUpvotedArticle">
        INSERT INTO upvoted_article (member_id, article_id)
        VALUES (#{memberId}, #{articleId})
    </insert>

    <delete id="deleteUpvotedArticle" parameterType="map">
        DELETE FROM upvoted_article WHERE member_id = #{memberId} AND article_id = #{articleId}
    </delete>
</mapper>
